{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": [
    "src/**/*.{ts,tsx}"
  ],
  "exclude": [
    "src/**/*.test.{ts,tsx}",
    "src/**/*.spec.{ts,tsx}",
    "src/**/*.cy.{ts,tsx}",
    "src/**/*.stories.{ts,tsx}"
  ],
  "reporter": [
    "html",
    "text",
    "text-summary",
    "lcov"
  ],
  "report-dir": "coverage"
} 